body {
  background-color: #24292e;
  color: floralwhite;
}

img {
  border: 1px solid #79419b;
  margin: 6px auto;
}

button {
  background-color: #24292e;
  border: 1px solid #79419b;
  color: white;
  width: 150px;
  padding: 10px;
  margin-bottom: 20px;
}

.select_thumb {
  width: 400px;
  float: left;
}

.thumb {
  width: 150px;
  float: left;
  margin: 4px;
}

.selected {
  margin: 4px;
  border: 2px solid #7a4699;
}

.content {
  margin: 0px auto;
  /* width: 960px; */
}

.size_btns {
  float: right;
}

.size_btns > button {
  width: 80px;
}

.small {
  width: 80px;
}

.medium {
  width: 150px;
}

.large {
  width: 190px;
}

#thumbnails {
  width: 200px;
  float: left;
  margin-right: 10px;
}

h1 {
  font-weight: normal;
  font-family: 'Courier New', Courier, monospace;
  color: white;
}
